@model MailPro.Models.TemplateModel

<<<<<<< HEAD

=======
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
@{
    ViewBag.Title = "CreateTemplate";
}

<h2>CreateTemplate</h2>


<<<<<<< HEAD
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

=======
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
    <div class="form-horizontal">
        <h4>TemplateModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TemplateID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TemplateID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemplateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
            @using (Html.BeginForm("CreateTemplate", "Emails", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="postedFile" />
                <input type="submit" name="Submit" value="Submit" />
            }
            @*@Html.LabelFor(model => model.TemplateURL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TemplateURL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TemplateURL, "", new { @class = "text-danger" })
                </div>*@
=======
            @Html.LabelFor(model => model.TemplateURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TemplateURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemplateURL, "", new { @class = "text-danger" })
            </div>
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemplateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
            @Html.LabelFor(model => model.TemplateImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TemplateImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemplateImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
=======
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
