@model MailPro.Mails

@{
    ViewBag.Title = "EmailDetail";
}

<h2>EmailDetail</h2>

<div>
    <h4>Mails</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.MailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
<<<<<<< HEAD
<<<<<<< HEAD
            @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Contents))
=======
            @Html.DisplayFor(model => model.Contents)
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
=======
            @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Contents))
>>>>>>> swasti
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sent)
        </dd>

        

        

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "ShowSentEmail")
</p>
