@model MailPro.Models.Email
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Compose</title>

    <link rel="stylesheet" href="../files/bootstrap.min.css">
    <link rel="stylesheet" href="../css/compose.css" type="text/css">
    <link rel="stylesheet" href="../files/fontawesome.min.css">
    <link rel="stylesheet" href="../files/bootstrap.min.css">


    <script src="@Url.Content("../files/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("../files/bootstrap.min.js")"></script>

    <script>
        $(function () {
            // Sidebar toggle
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="media nav-item ml-1" style="width: 100px; ">
            <img src="../img/LOGO2.png" style="height: 70px">

        </div>
        <div class="media-body nav-item ml-0">
            <b class="m-1" style="font-family:Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace">MAIL PRO</b>
        </div>

        <div class=" collapse navbar-collapse nav-item active " id="navbarSupportedContent">
            <!--
        <a class="nav-link" href="#"	>Signout</a>-->
        </div>
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active"><small class="text-uppercase font-weight-bold">menu</small></button>



    </nav>
    <div class="vertical-nav bg-white shadow-none " id="sidebar">

        <p class="text-gray font-weight-bold text-uppercase px-3 py-3 pb-4 mb-0">MENU</p>
        <button type="button" class="btn btn-light bg-light rounded-pill shadow-sm px-4 nav-item active mb-4 ml-5"><small class="text-uppercase font-weight-bold">Compose</small></button>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="https://localhost:44378/Email/ShowSentEmail" class="nav-link text-dark opt">
                    <!-- <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    -->
                    Sent Mail
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark opt">
                    <!--<i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    -->
                    Browse Templates
                </a>
            </li>
            <li class="nav-item">
                <a href="https://localhost:44378/Category/ShowCategory" class="nav-link text-dark opt">
                    <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    -->
                    View Categories
                </a>
            </li>
            <li class="nav-item">
                <a href="https://localhost:44378/Category/AddCategory" class="nav-link text-dark">
                    <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    -->
                    Add Categories
                </a>

            </li>

            <li class="nav-item">
                <a href="https://localhost:44378/Home/GetAllStudents" class="nav-link text-dark opt">
                    <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    -->
                    View Students
                </a>
            </li>
            @*<li class="nav-item">
                    <a href="#" class="nav-link text-dark opt">
                        <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                        -->
                        Add Students
                    </a>
                </li>*@
            <li class="nav-item mx-5">
                @if (User.Identity.IsAuthenticated)
                {
                    <button id="logout" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active"><small class="text-uppercase font-weight-bold text-black-50">@Html.ActionLink("Logout", "Logout", "Account")</small></button>
                }


            </li>

        </ul>


    </div>
    <div class="page-content active container mt-2" id="content">
        @using (Html.BeginForm())
        {
            <div class="row pt-5">

                <div class="col-lg-12">
                    <form>

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <div class="col-md-10">
                                    <table>
                                        <tr>
                                            <td>
                                                @Html.LabelFor(m => m.Contents)<br />
                                                @Html.TextAreaFor(m => m.Contents)
                                                @Html.ValidationMessageFor(m => m.Contents, "", new { @class = "error" })
                                                @{
                                                    var link = Session["TemplateURL"];
                                                }
                                            </td>
                                            <td>
                                                <iframe class="iframe" src=@link @*style="float:right "*@></iframe>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>

                            </div>

                           
                            <div class="form-group">
                                @Html.LabelFor(model => model.GmailPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.GmailPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GmailPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <h6>@ViewBag.Message</h6>
                            </div>






                            <div class="row pt-5 ">
                                <div class="col-lg-3 mx-auto">

                                    <input type="submit" value="Send" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active mb-4 ml-5" />@*<em class="font-weight-bold">Send mail</em></input>*@

                                </div>

                            </div>
                        </div>


                    </form>
                </div>



            </div>
            @*@section Scripts{
                <script type="text/javascript"
                        src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
                @Scripts.Render("~/bundles/Script-custom-editor") < link href = "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css"
                rel = "stylesheet" >*@
            @*<span>@Html.Raw(Model.Contents)</span>*@
        }

        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="@Url.Content("//tinymce.cachefly.net/4.0/tinymce.min.js")"></script>
        <script type="text/javascript">
            tinymce.init({ selector: 'textarea', width: 500 });
        </script>
    </div>

</body>
</html>