@model IEnumerable<MailPro.Mails>

@{
    ViewBag.Title = "Home";
}



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>

    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("../css/navbar.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("../files/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">


    <script src="@Url.Content("../files/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("../files/bootstrap.min.js")"></script>

    <script>
        $(function () {
            // Sidebar toggle
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <div class="px-3 bg-light">
            <div class="media d-flex align-items-center">
                <!--<img src="" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">-->
                <svg xmlns="http://www.w3.org/2000/svg" width="96.412" height="68" viewBox="0 0 96.412 68" class="mr-3 ">
                    <g id="Ellipse_1" data-name="Ellipse 1" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="35.164" cy="34" rx="35.164" ry="34" stroke="none" />
                        <ellipse cx="35.164" cy="34" rx="32.164" ry="31" fill="none" />
                    </g>
                    <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(44.713 9.315)" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="25.849" cy="24.918" rx="25.849" ry="24.918" stroke="none" />
                        <ellipse cx="25.849" cy="24.918" rx="22.849" ry="21.918" fill="none" />
                    </g>
                </svg>

                <div class="media-body">
                    <h4 class="m-0">Mail Pro</h4>

                </div>
            </div>
        </div>


        <div class=" collapse navbar-collapse nav-item active" id="navbarSupportedContent">
            <!--
            <a class="nav-link" href="#">Signout</a>-->
        </div>
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active"><small class="text-uppercase font-weight-bold">Toggle</small></button>



    </nav>
    <div class="vertical-nav bg-white shadow-none" id="sidebar">

        <p class="text-gray font-weight-bold text-uppercase px-3 py-3 pb-4 mb-0">MENU</p>
        <a href="https://localhost:44378/Email/Mail">
            <button type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active mb-4 ml-5"><em class="text-uppercase font-weight-bold">Compose</em></button>
        </a>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic bg-light">
                    <!-- <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    -->
                    Sent Mail
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic">
                    <!--<i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    -->
                    Browse Templates
                </a>
            </li>
            <li class="nav-item">
                <a href="https://localhost:44378/Category/ShowCategory" class="nav-link text-dark font-italic">
                    <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    -->
                    View Categories
                </a>
            </li>
            <li class="nav-item">
                <a href="https://localhost:44378/Category/AddCategory" class="nav-link text-dark font-italic">
                    <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    -->
                    Add Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-italic">
                    <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
    -->             @if(User.Identity.IsAuthenticated)
                    {
                        @*<li><a>Dear - @User.Identity.Name</a></li>*@
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </a>
            </li>
        </ul>


    </div>
    <!-- End vertical navbar -->
    <div class="page-content active" id="content">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sent)
                </th>
                @**<th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contents)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sent)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "EmailDetail", new { MailID = item.MailID }) |
                        @Html.ActionLink("Delete", "DeleteEmail", new { MailID = item.MailID })
                    </td>
                </tr>
            }

        </table>

    </div>


</body>
</html>