@model IEnumerable<MailPro.TemplateTable>

@{
    ViewBag.Title = "ShowTemplate";
}

<h2>ShowTemplate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TemplateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateName)
        </td>
        <td>
            @Html.ActionLink("Select Template", "SelectTemplate", new { TemplateID = item.TemplateID }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "DeleteTemplate", new {  TemplateID=item.TemplateID })
        </td>
    </tr>
}

</table>
