@model IEnumerable<MailPro.Mails>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inbox</title>

    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("../css/sent mails.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("../files/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">


    <script src="../files/jquery-3.4.1.min.js"></script>
    <script src="../files/bootstrap.min.js"></script>

    <script>
        $(function () {
            // Sidebar toggle
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="top-nav">
        <div class="px-3 bg-light">
            <div class="media d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="96.412" height="68" viewBox="0 0 96.412 68" class="mr-3 ">
                    <g id="Ellipse_1" data-name="Ellipse 1" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="35.164" cy="34" rx="35.164" ry="34" stroke="none" />
                        <ellipse cx="35.164" cy="34" rx="32.164" ry="31" fill="none" />
                    </g>
                    <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(44.713 9.315)" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="25.849" cy="24.918" rx="25.849" ry="24.918" stroke="none" />
                        <ellipse cx="25.849" cy="24.918" rx="22.849" ry="21.918" fill="none" />
                    </g>
                </svg>

                <div class="media-body">
                    <h4 class="m-0">Name</h4>


                </div>
            </div>
        </div>


        <div class=" collapse navbar-collapse nav-item active" id="navbarSupportedContent">
            <!--
            <a class="nav-link" href="#"	>Signout</a>-->
        </div>
        
        <button id="sidebarCollapse" type="button"  class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active"><small class="text-uppercase font-weight-bold">Toggle</small></button>



    </nav>
    <div class="vertical-nav bg-white shadow-none" id="sidebar">

        <p class="text-gray font-weight-bold text-uppercase px-3 py-3 pb-4 mb-0">MENU</p>
        <a href="https://localhost:44378/Email/ShowTemplate">
            <button type="button" class="btn btn-light bg-light rounded-pill shadow-sm px-4 nav-item active mb-4 ml-5"><em class="text-uppercase font-weight-bold">Compose</em></button>
            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a href="https://localhost:44378/Email/ShowSentEmail" class="nav-link text-dark bg-light opt">
                        <!-- <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            -->
                        Sent Mail
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark opt">
                        <!--<i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            -->
                        Browse Templates
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:44378/Category/ShowCategory" class="nav-link text-dark opt">
                        <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            -->
                        View Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:44378/Category/AddCategory" class="nav-link text-dark opt">
                        <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            -->
                        Add Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:44378/Home/GetAllStudents" class="nav-link text-dark opt">
                        <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            -->
                        View Students
                    </a>
                </li>
                @*<li class="nav-item">
            <a href="#" class="nav-link text-dark opt">
                <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                -->
                View Students
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark opt">
                <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                -->
                Add Students
            </a>
        </li>*@
                <li class="nav-item mx-5">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="logout" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active"><small class="text-uppercase font-weight-bold text-black-50">@Html.ActionLink("Logout", "Logout", "Account")</small></button>
                    }
                </li>

            </ul>


    </div>
    <div class="page-content active container-fluid" id="content">
        <div class="row pt-5">

        </div>
        <div class="row pt-5">
            <div class="col-lg-12">

                <!-- -------------------loop starts here--------------------->
                <table class="table">
                    <tr class="bg-white">
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
<<<<<<< HEAD
<<<<<<< HEAD
                        @*<th>
                            @Html.DisplayNameFor(model => model.Contents)
                        </th>*@
=======
                        <th>
                            @Html.DisplayNameFor(model => model.Contents)
                        </th>
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
=======
                        @*<th>
                            @Html.DisplayNameFor(model => model.Contents)
                        </th>*@
>>>>>>> swasti
                        <th>
                            @Html.DisplayNameFor(model => model.Sent)
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="bg-white ">
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
<<<<<<< HEAD
<<<<<<< HEAD
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Contents)
                            </td>*@
=======
                            <td>
                                @Html.DisplayFor(modelItem => item.Contents)
                            </td>
>>>>>>> ba1c07d870058e9fc152c107e680f299f4ef66c7
=======
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Contents)
                            </td>*@
>>>>>>> swasti
                            <td>
                                @Html.DisplayFor(modelItem => item.Sent)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "EmailDetail", new { MailID = item.MailID }) |
                                @Html.ActionLink("Delete", "DeleteEmail", new { MailID = item.MailID })
                            </td>
                        </tr>
                    }

                </table>
                <!--loop ends here-->
            </div>
        </div>

    </div>

</body>
</html>
