@model IEnumerable<MailPro.StudentTable>

@{
    ViewBag.Title = "GetAllStudents";
}

<h2>GetAllStudents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHosteller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCategory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHosteller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCategory)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { StudentNo = item.StudentNo }) |
                @Html.ActionLink("Detail", "StudentDetails", new { StudentNo = item.StudentNo }) |
                @Html.ActionLink("Delete", "Delete", new { StudentNo = item.StudentNo })
            </td>
        </tr>
    }

</table>

