@model MailPro.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}




<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Change Password</title>

    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("../css/emailinput.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("../files/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">


    <script src="@Url.Content("../files/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("../files/bootstrap.min.js")"></script>

    <style>
                .vertical-nav {
                    min-width: 17rem;
                    width: 17rem;
                    height: 100vh;
                    position: fixed;
                    top: 5.2rem;
                    left: 0;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
                    transition: all 0.4s;
                }

                .top-nav {
                    width: calc(100% - 17rem);
                    margin-left: 0rem;
                    transition: all 0.4s;
                }
                /* for toggle behavior */
                #sidebar.active {
                    margin-left: -17rem;
                }
                /*#content.active {
          width: 100%;
          margin: 0;
        }*/
                body {
                    /*background: #599fd9;*/
                    background: -webkit-linear-gradient(to bottom, #6C006D, #0F092C);
                    background: linear-gradient(to bottom, #6C006D, #0F092C);
                    min-height: 100vh;
                    overflow-x: hidden;
                }

                img {
                    width: 500px;
                    height: auto;
                    margin-left: 10%;
                }

                .separator {
                    margin: 3rem 0;
                    border-bottom: 1px dashed #fff;
                }

                .text-uppercase {
                    letter-spacing: 0.1em;
                }

                .text-gray {
                    color: #aaa;
                }
    </style>
    <style>
    </style>
    <script>
        $(function() {
                // Sidebar toggle
                $('#sidebarCollapse').on('click', function() {
                $('#sidebar, #content').toggleClass('active');
                });
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <div class="px-3 bg-light">
            <div class="media d-flex align-items-center">
                <!--<img src="" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">-->
                <svg xmlns="http://www.w3.org/2000/svg" width="96.412" height="68" viewBox="0 0 96.412 68" class="mr-3 ">
                    <g id="Ellipse_1" data-name="Ellipse 1" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="35.164" cy="34" rx="35.164" ry="34" stroke="none" />
                        <ellipse cx="35.164" cy="34" rx="32.164" ry="31" fill="none" />
                    </g>
                    <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(44.713 9.315)" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="25.849" cy="24.918" rx="25.849" ry="24.918" stroke="none" />
                        <ellipse cx="25.849" cy="24.918" rx="22.849" ry="21.918" fill="none" />
                    </g>
                </svg>

                <div class="media-body">
                    <h4 class="m-0">Name</h4>

                </div>
            </div>
        </div>


        <div class=" collapse navbar-collapse nav-item active page-content" id="navbarSupportedContent">
            <!--
            <a class="nav-link" href="#">Signout</a>-->
        </div>
        <a href="https://localhost:44378/Account/Login">
            <button id="back" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active page-content"><small class="text-uppercase font-weight-bold">Back</small></button>
        </a>
    </nav>

    <div class="page-content active container" id="content">
        <div class="row pt-3">
            <div class="col-lg-6">
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <img src="@Url.Content("../img/c73f2d68909e2da48a3af9c0a4d5485e.png")" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row pt-3">
                    <div class="col-lg-12">
                        @using (Html.BeginForm())
                        {
                            <form>
                                <div class="text-danger">
                                    @ViewBag.Message
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group row pt-2 ">
                                    @*<label for="password" class="col-lg-4 col-form-label mt-5 mx-auto align-content-center">New password</label>*@
                                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-lg-4 col-form-label mt-5 mx-auto align-content-center" })
                                    <div class="col-lg-6">
                                        @*<input type="email" class="form-control mt-5" id="newpass" placeholder="">*@
                                        @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control mt-5 ", @id = "newpass", @placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row pt-2 ">
                                    @*<label for="confirmpass" class="col-lg-4 col-form-label mt-2 mx-auto align-content-center">Confirm Password</label>*@
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-lg-4 col-form-label mt-2 mx-auto align-content-center" })
                                    <div class="col-lg-6">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control mt-2", id = "confirmpass", placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        @*<input type="password" class="form-control mt-2" id="confirmpass" placeholder="">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.HiddenFor(a => a.ResetCode)
                                </div>

                                <div class="row pt-5 ">
                                    <div class="col-lg-6 mx-auto">

                                        <button type="submit" class="btn btn-light bg-white rounded-pill shadow-sm px-4 nav-item active mb-4 ml-5"><em class="font-weight-bold">Change password</em></button>
                                    </div>

                                </div>

                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>