@model MailPro.Models.Membership

@{
    ViewBag.Title = "Signup";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP PAGE</title>
    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("../css/signup.css")" type="text/css">

    <link rel="stylesheet" href="@Url.Content("../files/bootstrap.min.css")">


    <script src="@Url.Content("../files/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("../files/bootstrap.min.js")"></script>

</head>
@using (Html.BeginForm(new { @id = "form" }))
{
@Html.AntiForgeryToken()
<body>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="151" height="146" viewBox="0 0 151 146">
                    <g id="Ellipse_1" data-name="Ellipse 1" fill="none" stroke="#fff" stroke-width="6">
                        <ellipse cx="75.5" cy="73" rx="30" ry="30" stroke="none" />
                        <ellipse cx="75.5" cy="73" rx="30" ry="30" fill="none" />
                    </g>
                </svg>
                <div id="logo-name">NAME</div>
                <div class="welcome">
                    <div>Welcome!</div>
                    <div id="sign">Get started absolutely free.</div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="signup"><b>SIGN UP</b></div>
                </div>

                <!--<div id="form">
                <label class="" id="fid">Faculty I'd</label>
                <input type="email" placeholder="Enter id" class="input"/>

                <label class="" id="name" >Name</label>
                <input type="password" placeholder="Enter name"  class="input"/>

                <label class="" id="email" >Email Address</label>
                <input type="password" placeholder="Enter email address"  class="input"/>

                <label class="" id="phone" >Contact no.</label>
                <input type="password" placeholder="Enter contact number"  class="input"/>

                <label class="" id="dpt" >Department</label>
                <input type="password" placeholder="Enter department"  class="input"/>

                <label class="" id="password" >Password</label>
                <input type="password" placeholder="Enter password"  class="input"/>

                <input type="button" value="CONTINUE" id="btn"/>
                <span id="check">
                    <input type="checkbox">
                    By signing up, I agree to the terms and conditions.
                </span>
                </div>-->
                <form id="form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row" style="padding-top:175px">
                        <!--<label for="inputId" class="col-sm-5 col-form-label">Enter Faculty I'd</label>-->
                        @Html.LabelFor(model => model.FacultyID, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputId" })

                        <div class="col-sm-7">


                            @Html.EditorFor(model => model.FacultyID, new { htmlAttributes = new { @class = "form-control", @id = "inputId", @placeholder = "Faculty I'd" } })
                            @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
                            <!--<input type="number" class="form-control" id="inputId" placeholder="Faculty I'd">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--<label for="inputName" class="col-sm-5 col-form-label">Enter Faculty Name</label>-->
                        @Html.LabelFor(model => model.FacultyName, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputName" })
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.FacultyName, new
                       {
                           htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @id = "inputName",
                                    @placeholder = "FacultyName"
                           }
                       })
                            @Html.ValidationMessageFor(model => model.FacultyName, "", new { @class = "text-danger" })

                            <!-- <input type="text" class="form-control" id="inputName" placeholder="Faculty Name">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--<label for="inputEmail" class="col-sm-5 col-form-label">Enter email address</label>-->
                        @Html.LabelFor(model => model.FacultyEmail, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputEmail" })
                        <div class="col-sm-7">

                            @Html.EditorFor(model => model.FacultyEmail, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.FacultyEmail, "", new { @class = "text-danger" })
                            <!-- <input type="email" class="form-control" id="inputEmail" placeholder="Email">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--<label for="inputPhone" class="col-sm-5 col-form-label">Enter Contact Number</label>-->
                        @Html.LabelFor(model => model.FacultyPhoneNo, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputPhone" })
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.FacultyPhoneNo, new { htmlAttributes = new { @class = "form-control", @id = "inputPhone", @placeholder = "Contact number" } })
                            @Html.ValidationMessageFor(model => model.FacultyPhoneNo, "", new { @class = "text-danger" })
                            <!-- <input type="text" class="form-control" id="inputPhone" placeholder="Contact number">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--<label for="inputDept" class="col-sm-5 col-form-label">Enter Department Name</label>-->
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputDept" })
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @id = "inputDept", @placeholder = "Department Name" } })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })    <!--<input type="text" class="form-control" id="inputDept" placeholder="Department Name">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword" class="col-sm-5 col-form-label">Password</label>-->
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-5 col-form-label", @id = "inputPassword" })
                        <div class="col-sm-7">
                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "inputPassword", @placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    By signing up, I agree to the Terms and Conditions.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="submit" value="CONTINUE" id="btn" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
}
</html>