@model MailPro.Models.DisplayClass

@{
    ViewBag.Title = "Displays";


    List<string> abc = (List<string>)Session["mails"];
    //List<Class1> xyz = (List<Class1>)Session["data"];
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Displays", "Category", FormMethod.Post))
    {
        foreach (var ch in abc)
        {
            List<SelectListItem> items = new List<SelectListItem>();
            List<string> xyz = new List<string>();

            <br />
            <br />
            @Html.Label(ch);
            //foreach(var item in )
            foreach (var item in Model.StudentNames)

            {
                var sno =Convert.ToInt32(@item.Value);
                Temp tp = new Temp();
                var context = new MailProEntities();
                tp = context.Temp.SingleOrDefault(x=>x.StuidentNo==sno);
                if (tp.CategoryName == ch)
                {

                    items.Add(new SelectListItem()
                    {
                        Text = @item.Text,
                        Value = @item.Value,

                    });
                    //xyz.Add(@item.Text);
                    //@Html.ListBox(@item.Value);






                    // @Html.CheckBox(@item.Text); <p>@item.Text</p>
                    //@Html.ListBox(@item.Value,item.Text)




                }




            }
                Model.CategoryNames = items;
            
            @Html.ListBoxFor(m => m.ids, Model.CategoryNames, new { @class = "listbox" })

            <input type="submit" value="Submit" />

        }
    }

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>
</html>
<h2>Displays</h2>

